.footer-bg {
    border-top: 1px solid #000;
    padding: 1rem 0;
    margin-top: 4rem;
    background-color: #226f48;
}

.footer-bg p {
    font-family: '4b pencil', monospace;
    margin: 0;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}