.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 4rem;
    padding: 1rem 0;
}

.main-nav {
    display: flex;
    gap: 2rem;
    justify-content: start;
    align-items: center;
}

.header h2 {
    font-family: '4b pencil', monospace;
    margin: 0;
    color: #226f48;
}